




<div id="div2" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 2 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[name]" placeholder=" P2 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 2 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[age]" placeholder="P2 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 2 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person2[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>

</div>









<div id="div3" class="form-group" style="display:none">
<label class="col-md-3 control-label"  style="width:80px">Person 3 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[name]" placeholder="P3 Name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 3 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[age]" placeholder="P3 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 3 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person3[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>
</div>















<div id="div4" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 4 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[name]" placeholder="P4 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 4 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[age]" placeholder="P4 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 4 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person4[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>
</div>




<div id="div5" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 5 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[name]" placeholder="P5 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 5 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[age]" placeholder="P1 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 5 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person5[sex]" class="form-control" >
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div> 

</div>




















/train/<%=train._id%>/<%=date%>/<%=classs%>/<%=price%>/payment














/train/<%=train._id%>/<%=date%>/<%=classs%>/<%=price%>/payment?_method=PUT

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
<!DOCTYPE html>
<html ng-app="myapp" ng-cloak>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.css"/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
  $("#sim").keypress(function(event){
      for(var i=1;i<=5;i++){
    $("#div"+i).fadeOut();}
      var v=$(this).val();
for(var i=1;i<=v;i++){
    $("#div"+i).fadeIn(1000);
    // $("#div2").fadeIn("slow");
    // $("#div3").fadeIn(3000);}
  }
  })});
</script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif" rel="stylesheet"></head>
<body>




<nav class="nav navbar-inverse">

  <a class="navbar-brand" href="#" style="color:white;margin-top:5px">Welcome </a>
  <div class="navbar-right" style="margin-right:20px;margin-top:10px">
    <a class="btn btn-danger" style="border-radius:5px" href="/logout" >Logout</a>
  </div>
</nav>
<div class="jumbotron text-center">
    <h4>Train Selected : </h4>


</div>
<!-- #######################################FORM@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="container">
  <form class="well form-horizontal" action="/train/show/check_availability/:train._id>/:date/:classs/:price/secret" method="POST">


<!-- Form Name -->

<h2 class="text-center" style="margin-top:0px">RESERVE TRAIN</h2>
<hr>

<!-- Text input-->
<!--No of people-->
<div class="form-group">
<label class="col-md-4 control-label">No of Persons</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="num" placeholder="No of Passangers" class="form-control" style="border-radius:5px;padding:20px"  type="number" min="1" max="5" id="sim" autofocus required>
  </div>
</div>
</div>


<div id="div1" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 1 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[name]" placeholder="Passanger 1" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 1 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[age]" placeholder="P1 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<label class="col-md-3 control-label"  style="width:80px">Person 1 Sex:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[sex]" placeholder="P1 Sex" class="form-control" style="border-radius:5px;padding:20px"  type="text"  required>
  </div>
</div>

</div>

<div id="div2" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 2 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[name]" placeholder=" P2 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 2 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[age]" placeholder="P2 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<label class="col-md-3 control-label"  style="width:80px">Person 2 Sex:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[sex]" placeholder="P2 Sex" class="form-control" style="border-radius:5px;padding:20px"  type="text"  required>
  </div>
</div>

</div>

<div id="div3" class="form-group" style="display:none">
<label class="col-md-3 control-label"  style="width:80px">Person 3 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[name]" placeholder="P3 Name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 3 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[age]" placeholder="P3 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<label class="col-md-3 control-label"  style="width:80px">Person 3 Sex:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[sex]" placeholder="P3 Sex" class="form-control" style="border-radius:5px;padding:20px"  type="text"  required>
  </div>
</div>
</div>

<div id="div4" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 4 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[name]" placeholder="P4 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 4 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[age]" placeholder="P4 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<label class="col-md-3 control-label"  style="width:80px">Person 4 Sex:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[sex]" placeholder="P4 Sex" class="form-control" style="border-radius:5px;padding:20px"  type="text"  required>
  </div>
</div>
</div>
<div id="div5" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 5 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[name]" placeholder="P5 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" required>
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 5 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[age]" placeholder="P1 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number"  required>
  </div>
</div>

<label class="col-md-3 control-label"  style="width:80px">Person 5 Sex:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[sex]" placeholder="P5 Sex" class="form-control" style="border-radius:5px;padding:20px"  type="text"  required>
  </div>
</div>
</div>








<!--Date of travelling-->
<div class="form-group">
<label class="col-md-4 control-label">Date of Travelling</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon" style="border-radius:0px;"></span>
<input  name="date" placeholder="date of travelling" class="form-control"  type="text" style="border-radius:0px;padding:20px"  readonly required>
     <!-- <%=String(date)%> -->
  </div>
</div>
</div>
<!-- 
<div class="form-group">
    <label class="col-md-4 control-label">Select Class</label>
    <div class="col-md-4 inputGroupContainer">
    <select name="class" class="form-control">
      <option value="1AC">1 AC</option>
      <option value="2AC">2 AC</option>
      <option value="3AC">3 AC</option>
      <option value="Sleeper">Sleeper</option>

    </select>
  </div>
</div>
 -->
<div class="form-group">
    <label class="col-md-4 control-label">Class</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
      <input  name="classs" placeholder="Class" class="form-control"  type="text" style="border-radius:0px;padding:20px;"  readonly required>
  
      
  </div>
</div>
</div>
<!-- 
2222222222222222222222222222222222222222222222222222222 -->
<div class="form-group">
    <label class="col-md-4 control-label">From</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
      <input  name="source" placeholder="From" class="form-control"  type="text" style="border-radius:0px;padding:20px"  readonly required>
       value="<%=train.source%>"
  </div>
</div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">To</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>

      <input  name="destination" placeholder="To" class="form-control"   type="text" style="border-radius:0px;padding:20px" readonly required>
      value="<%=train.destination%>"
  </div>
</div>
</div>



<div class="form-group">
<div class=" col-sm-6 col-sm-offset-4">

<button class="btn btn-primary" type="submit" style="border-radius:0px;padding:10px 25px">Book Now</button>
</div>
</div>


</div>



</form>

</div>
</body>

</html>
