<!DOCTYPE html>
<html ng-app="myapp" ng-cloak>
<head><title>Book Train</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <script>
$(document).ready(function(){
  $("#sim").keypress(function(event){
      for(var i=1;i<=1;i++){
    $("#div"+i).fadeOut();}
      var v=$(this).val();
for(var i=1;i<=1;i++){
    $("#div"+i).fadeIn(1000);
    // $("#div2").fadeIn("slow");
    // $("#div3").fadeIn(3000);}
  }
  })});
</script>
 -->
<style>
  body{
    background:url(https://images.pexels.com/photos/459301/pexels-photo-459301.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  }
</style>



<link href="https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif" rel="stylesheet"></head>
<body>




<nav class="nav navbar-inverse">

  <a class="navbar-brand" href="#" style="color:white;margin-top:5px"><i style="color:orange;" class="fas fa-ils" aria-hidden="true"></i>
Welcome </a>
  <div class="navbar-right" style="margin-right:20px;margin-top:10px">
    <a class="btn btn-warning" style="border-radius:5px;padding-bottom:5px;padding-top:6px;margin-top:3px" href="/logout" >Logout</a>
  </div>
  <div class ="nav navbar-nav">
    
    <li><a href="/" style="color:white;margin-top:5px"><i style="color:white;" class="fas fa-home"></i> Home</a></li>
    <li><a href="/helpline" style="color:white;margin-top:5px"><i class="fa fa-phone" aria-hidden="true"></i>
 Helpline</a></li>
    
  </div>
</nav>
<div class="jumbotron text-center">
    <h3 style="font-size:23px;font-weight:bold;line-height:1.5;text-decoration:line-underline;border-bottom:2px solid grey;border"> TRAIN SELECTED </h3>

<h1  style="display:none;">
<%=date%>
<br>
<%=price%>
<%=classs%>
<%=train._id%>
  
</h1>
</div>





 <!--  <input type="submit" class="btn btn-primary" type="submit" style="border-radius:0px;padding:10px 25px">
</form> -->


<div class="container">
<form class="well form-horizontal" action="/train/payment" method="POST">


<!-- Form Name -->

<h2 class="text-center" style="margin-top:0px;">Reserve Train</h2>
<hr>

<!-- Text input-->
<!--No of people-->
<div class="form-group">
<label class="col-md-4 control-label">No of Persons</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="num" placeholder="No of Passangers" class="form-control" style="border-radius:5px;padding:20px;"  type="number" id="sim" max="1" min="1"  autofocus required>
  </div>
</div>
</div>


<br>
<br>






<div id="div1" class="form-group" style="display:block">

<label class="col-md-3 control-label"  style="width:80px;">Person Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px;">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[name]" placeholder="Passanger Name" class="form-control" style="border-radius:5px;padding:20px;"  type="text" required  >
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px;">Person Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px;">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[age]" min="1" placeholder="Age" class="form-control" style="border-radius:5px;padding:20px;"  type="number" required >
  </div>
</div>

<div class="form-group" >
    <label class="col-md-3 control-label" >Person Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person1[sex]" class="form-control" style="padding:5px;" >
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>
</div>






<div class="form-group">
  

<!-- 
//email and number -->


<label class="col-md-6 control-label" style="width:100px;">Person Email:</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group" style="width:300px;">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[email]"   placeholder="Email" class="form-control" style="border-radius:5px;padding:20px;"  type="email" >
  </div>
</div>




<label class="col-md-7 control-label" style="width:100px;">Person Contact No:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:400px;">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person1[phone]" max="9999999999" min="1000000000" placeholder="Contact No" class="form-control" style="border-radius:5px;padding:20px;"  type="number" required >
  </div>
</div>


</div>

<hr>
<br>
<br>


<!-- 
<div id="div2" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 2 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[name]" placeholder=" P2 name" class="form-control" style="border-radius:5px;padding:20px"  type="text"  value="*" >
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 2 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person2[age]" placeholder="P2 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number" value="*"  >
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 2 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person2[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>

</div>









<div id="div3" class="form-group" style="display:none">
<label class="col-md-3 control-label"  style="width:80px">Person 3 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[name]" placeholder="P3 Name" class="form-control" style="border-radius:5px;padding:20px"  type="text" value="*"  >
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 3 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person3[age]" placeholder="P3 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number" value="*" >
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 3 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person3[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>
</div>















<div id="div4" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 4 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[name]" placeholder="P4 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" value="*" >
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 4 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person4[age]" placeholder="P4 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number" value="*" >
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 4 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person4[sex]" class="form-control">
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div>
</div>




<div id="div5" class="form-group" style="display:none">

<label class="col-md-3 control-label"  style="width:80px">Person 5 Name:</label>
<div class="col-md-3 inputGroupContainer" >
<div class="input-group" style="width:200px">
<span class="input-group-addon" style="border-radius:0px;"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[name]" placeholder="P5 name" class="form-control" style="border-radius:5px;padding:20px"  type="text" value="*" >
  </div>
</div>

<label class="col-md-3 control-label" style="width:80px">Person 5 Age:</label>
<div class="col-md-3 inputGroupContainer">
<div class="input-group" style="width:100px">
<span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
<input  name="person5[age]" placeholder="P1 Age" class="form-control" style="border-radius:5px;padding:20px"  type="number" value="*" >
  </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Person 5 Sex:</label>
    <div class="col-md-3 inputGroupContainer">
    <select name="person5[sex]" class="form-control" >
      <option value="male">MALE</option>
      <option value="female">FEMALE</option>
      <option value="others">OTHERS</option>

    </select>
  </div>
</div> 

</div>




 -->









<div style="display:none;"><input type="text" name="train_id" value="<%=train._id%>">
</div>
<div style="display:none;" ><input type="number" name="price" value="<%=price%>"></div>








<!--Date of travelling-->
<div class="form-group">
<label class="col-md-4 control-label">Date of Travelling</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon" style="border-radius:0px"></span>
<input  name="date" placeholder="date of travelling" class="form-control"  type="date" style="border-radius:0px;padding:20px" value="<%=date%>" readonly >
  </div>
</div>
</div>

<!-- <div class="form-group">
    <label class="col-md-4 control-label">Select Class</label>
    <div class="col-md-4 inputGroupContainer">
    <select name="class" class="form-control">
      <option value="1AC">1 AC</option>
      <option value="2AC">2 AC</option>
      <option value="3AC">3 AC</option>
      <option value="Sleeper">Sleeper</option>

    </select>
  </div>
</div> -->
<div class="form-group">
<label class="col-md-4 control-label">Class</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon" style="border-radius:0px"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
  </span>
<input  name="classs" placeholder="Class" class="form-control"  type="text" style="border-radius:0px;padding:20px" value="<%=classs%>" readonly>
  </div>
</div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">From</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>
      <input  name="source" placeholder="From" class="form-control"  type="text" style="border-radius:0px;padding:20px" value="<%=train.source%>" readonly >
  </div>
</div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">To</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon" style="border-radius:0px"><i class="glyphicon glyphicon-user" ></i></span>

      <input  name="destination" placeholder="To" class="form-control"  type="text" style="border-radius:0px;padding:20px" value="<%=train.destination%>" readonly >
  </div>
</div>
</div>





<div class="form-group">
<div class=" col-sm-6 col-sm-offset-4">

<button class="btn btn-primary" type="submit" style="border-radius:0px;padding:10px 25px">Book</button>
</div>
</div>

</form>
</div>
  




</body>

</html>
